<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>게시글 수정</title>
</head>

<body>
    <div class="container">
        <h1>게시글 수정</h1>
        <form action="/update/{{ post.id }}" method="post">
            <figure>
                <p>
                    <label>제목</label>
                    <input type="text" name="title" value="{{post.title}}" size="100" required>
                </p>
                <p>
                    <label>작성자</label>
                    <input type="text" name="writer" value="{{post.writer}}" size="10">
                </p>
                <p>
                    <label>내용</label>
                    <textarea name="content" required rows="10">{{ post.content }}</textarea>
                </p>
            </figure>

            <button type="submit">수정</button> <a class="button" href="/">목록</a>
        </form>

    </div>
</body>

</html>